.main-container {
  max-width: 1024px;
  margin: 0 auto;
  .title {
    margin-top: 10px;
    display: flex;
    font-size: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    justify-content: space-between;
    font-weight: 500;
  }
}

.btn-add {
  background-color: #5c359f;
  color: white;
  margin-left: 15px;
  margin-top: 5px;
}

.table-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 5px;
  .column {
    font-size: 16px;
    width: 25%;
  }
}

.cards-items__list {
  display: flex;
}

.color-picker {
  position: absolute;
  z-index: 1000;
  display: flex;
  max-width: 1020px;
  background-color: white;
  flex-direction: column;
  height: 0;
  &__change {
    max-width: 150px;
    z-index: 1000;
    cursor: pointer;
    margin-right: 25%;
  }
}
