<div mat-dialog-content>
  <mat-label>Title</mat-label>
  <app-ck-editor [(ngModel)]="data.title"></app-ck-editor>
    <mat-label>Color</mat-label>
    <input matInput [(ngModel)]="data.color">
    <input type="file" onchange="console.log(event.target.files)" [(ngModel)]="data.attachments">
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="[data.title, data.color, data.attachments]" cdkFocusInitial>Ok</button>
</div>
