<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input matInput [(ngModel)]="data.color">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Attachments</mat-label>
    <input matInput [(ngModel)]="data.attachments">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.title" cdkFocusInitial>Ok</button>
</div>
